---
layout: collection
title: Improving children’s internet access – a design history
titleHtml: Improving children’s internet access – a design&nbsp;history
eleventyComputed:
  eleventyNavigation:
    key: app
    title: "{{ title }}"
eleventyExcludeFromCollections: true
pagination:
  data: collections.all
  reverse: true
  size: 50
---
